@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;800&family=Roboto:wght@200;400;500;600;800&display=swap");

:root {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 75px 1fr 50px;

  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vh;
}

.header {
  grid-area: header;
  background-color: whitesmoke;
}

.logo {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 60%;
}

.aside {
  grid-area: aside;
  background-color: #f86e31;
}

.main {
  grid-area: main;
  background-color: white;
}
.footer {
  grid-area: footer;
  background-color: whitesmoke;
}

/* flexing header and footer*/
.header,
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #728e5d;
  padding: 0 15px;
}

/* flexing aside */
.aside {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 240px;
  position: fixed;
  overflow-y: auto;
  z-index: 2;
  transform: translateX(-245px);
}

.aside.active {
  transform: translateX(0);
}

.aside_list {
  padding: 0;
  margin-top: 85px;
  list-style-type: none;
}

.aside_list-item {
  padding: 20px 20px 20px 40px;
  color: #ddd;
}

.aside_list-item:hover {
  background-color: royalblue;
  cursor: pointer;
}

/* Layout for main content overview  and its cards*/
.main_overview {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.overview_card {
  flex-basis: 250px;
  flex-grow: 1;
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 100px;
  border-radius: 4px;
  color: #728e5d;
  background-color: #ffe9de;
  box-shadow: 5px 4px 4px -1px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: 5px 4px 4px -1px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 5px 4px 4px -1px rgba(0, 0, 0, 0.21);
}

.overview_card-info {
  font-weight: 700;
}
/* Layout for main-cards section // below main_overview */
.main_cards {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "card1"
    "card2"
    "card3";
  grid-gap: 10px;
}
.card {
  padding: 20px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  color: #6c6c6c;
  font-family: Roboto;
  box-shadow: 3px 3px 3px -1px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: 3px 3px 3px -1px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 3px 3px 3px -1px rgba(0, 0, 0, 0.21);
}

.card h2 {
  text-align: center;
  color: #728e5d;
  font-size: 1.2em;
  margin-top: 0px;
  font-family: Montserrat;
}

.card h4 {
  font-weight: 800;
}

.card.productList {
  overflow-y: auto;
}

.card:first-child {
  grid-area: card1;
}
.card:nth-child(2) {
  grid-area: card2;
}
.card:nth-child(3) {
  grid-area: card3;
}

.numbercard {
  font-size: 2em;
  font-weight: 500;
  color: #f86e31;
}

.topcard {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

/* Product Detail */

.detail,
.product-cart,
.product-selection {
  display: flex;
  width: 95%;
  margin-bottom: 20px;
}

.img-detail {
  width: 50%;
}

.description-detail {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 40px;
}

.description-detail h3 {
  font-family: "Montserrat", sans-serif;
}

.description-detail h4 {
  margin: 10px 0px;
}

.product-ranking {
  margin: 10px 0px;
}

.img-detail img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.price {
  font-size: 2rem;
  margin: 20px 0;
}

/* responsive layout */
@media only screen and (min-width: 750px) {
  .grid-container {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 75px 1fr 50px;
    grid-template-areas:
      "aside header"
      "aside main"
      "aside footer";
    height: 100vh;
  }

  .aside {
    display: flex;
    flex-direction: column;
    position: relative;
    transform: translateX(0);
  }

  .main_cards {
    margin: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 200px 300px;
    grid-template-areas:
      "card1 card2"
      "card1 card3";
    grid-gap: 10px;
  }
}

.menu-icon {
  position: fixed;
  display: flex;
  top: 2px;
  left: 8px;
  align-items: center;
  justify-content: center;
  z-index: 1;
  cursor: pointer;
  padding: 12px;
  color: black;
}

.header_search {
  margin-left: 24px;
}

.aside_close-icon {
  position: absolute;
  visibility: visible;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

@media only screen and (min-width: 750px) {
  .aside_close-icon {
    display: none;
  }
}
